* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



p.outset {border-style: outset;}



body {overflow-x: hidden;}

.title{

}

body{
    background-color: grey;
}


.container{
    border: double;
    border: 8px;

}




/* buttons */

.button {

	
  	padding: 2px;
  	border: none;
  	opacity: 10.5
  
}

.button:hover{
  background-color: white;
  opacity: 1;
}


